<div class="container" ng-controller="activeUsersController as activeUsersCtrl">
	<h1 class='title text-center'>{{activeUsersCtrl.title}}</h1>
	<h2 class='text-center'>{{activeUsersCtrl.subtitle}}</h2>
	<div class="row" >
			<h3 class="text-left">{{usersCtrl.textList}}</h3>
            <input ng-model="query" placeholder="Search" type="text"/>
			<table>
				<theader>
					<td ng-repeat="head in activeUsersCtrl.activeHead">{{head}}</td>
				</theader>
                <tbody >
				<tr ng-if="activeUsersCtrl.active = true" ng-repeat="user in activeUsersCtrl.activeUsersList | filter:query">
					<td class="text-center"><input type="checkbox" /></td>
					<td>{{user.newName}}</td>
					<td>{{user.newLastName}}</td>
					<td>{{user.newAge}}</td>
                    <td>{{user.newPhone}}</td>
					<td>{{user.newEmail}}</td>
					<td>{{user.newGender}}</td>
				</tr>
                </tbody>
			</table>

</div>